@import url(https://fonts.googleapis.com/css?family=Poppins);

// make variables for each color 
$black: #000000; 
$dgrey: #272727;
$grey: #A0A0A0; 
$lgrey: rgb(243, 219, 219); 
$offwhite: #F9F9F9;
$white:#FFFFFF; 

@mixin flexColumnAndMargin{
    display:flex;
    flex-direction: column;
    width:80%; 
}
@mixin sectionFormatting{
    display:flex;
    justify-content: center;
    //align-items:center;
    width:auto;
    height:100vh;
}


body{
    margin:0;
    font-family:'Poppins';
}
.mainImg{ 
    background-image: url(../Images/ana-grave-156852-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    background-origin: border-box;
    @include sectionFormatting;
    
    .margin{
        @include flexColumnAndMargin;
    }

}
a{
    letter-spacing:1px;
    text-decoration: none;
}

//Area1 outer used to style general link 
.mainImg__links{
    display:flex;

    .mainImg__link{
        font-weight:bold; 
        color:$white; 
        font-size: 1.125rem;
        margin-top: 1.5rem;
        
        &--rightSide{
            margin-left: auto;
       }

       &--rightEdge{
           margin-left: 5rem;
       }
    }
   
}


.central{
    margin:auto;
    display:flex; 
    flex-direction: column;
    align-items:center;
    &__date{
        font-size:5.25rem;
        font-weight:bolder;
        color:$white;
    }
    &__title{
        font-size:2.25rem;
        color:$white;
        text-align: center; 
    }
    &__button{
        border-radius: 5%;
        background-color: $grey; 
        color:$white;
        border: 2px solid $white;
        font-family: "Poppins"; 
        font-size: 1.125rem;
        margin: 2.5rem;
        padding: .6em 2em;
        letter-spacing:1px;
    }
}


.about{
   @include sectionFormatting;
    .margin{
        @include flexColumnAndMargin;
    }
    &__title{
        font-weight:bolder;
        font-size: 3.5rem;
        line-height:.5em;
    }
    &__article{
        display:flex; 
        
        &--leftP{
            font-weight:bold;
            flex-grow:1;
            font-size:1.2em;
            margin-right: 2em;
        }
        &--rightP{
            display:flex; 
            //!!!
            line-height:2.15;
            font-size:1em;
            flex-grow:1.7;
        }
    }
   
}

.music{
    @include sectionFormatting;
    .margin{
        @include flexColumnAndMargin();
    }
    &__title{

    }
    &__article{
        display:flex; 
        align-items:flex-start;
        &--cover{
            background-image: url(../Images/bryan-minear-315773-unsplash.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            height: 45vh;
            width:140vw;
            flex-grow:1;
            min-width: 240px;
            display:flex;
            justify-content: space-between;
            
            .cover__title{
                font-size: 1.1vh;
                font-weight:bold;
                color:$white;
                margin: 1.5vh 2.8vh;
            }

        }

        &--paragraph{
            .firstLine{
                margin-top:0;
            }
            flex-grow:1.6;
            margin-left:3em;
        }
    }

}

.gallery{
    @include sectionFormatting;
   
    .margin{
        @include flexColumnAndMargin;
    }

    &__section{
        display:flex;
        flex-wrap:wrap; 
        justify-content: space-between;
        align-items: baseline;
    }
    &__imgContainer{
        height: 33vh;
        width: 23vw;
        overflow:hidden;
    }

    &__image{
        width:39vw;
        height:auto;
    }
    &__image:hover{
        filter:grayscale(0);
    }


}

//!!!
@media (max-width:660px){
    body{
        font-size: 15px;
    }
}